<div id="optionsPanel">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
      Options
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field id="cellSize">
      <input type="number" matInput required [(ngModel)]="formData.cellSize" #cellSize="ngModel"
      min="1" max="1000" pattern="\d{1,4}" placeholder="Cell Size">
      <mat-hint>enter grid cell size (in meters).</mat-hint>
      <mat-error *ngIf="cellSize.hasError('required')">
        you must specify a grid cell size
      </mat-error>
    </mat-form-field>

    <div id="backgroundFillCheckbox">
      <mat-checkbox [(ngModel)]="formData.backgroundFill" matTooltip="fill empty areas with values from ETOPO1" matTooltipPosition="right">Background Fill</mat-checkbox>
    </div>

      <mat-form-field id="contourInterval">
        <input type="number" matInput [(ngModel)]="formData.contourInterval" #contourInterval="ngModel"
        min="1" max="1000" pattern="\d{1,4}" placeholder="Contour Interval"> 
        <mat-hint>enter contour interval (in meters)</mat-hint>
      </mat-form-field>

      <mat-form-field id="mapTitle">
        <input type="text" matInput [(ngModel)]="formData.mapTitle" 
        maxlength="80">
        <mat-hint>enter title for the map</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="formData.colorTable" #colorTable="ngModel">
          <mat-select-trigger>
            <span *ngIf="colorTable.value == 'rainbow'">
              <img src="assets/GMT_rainbow.png">
            </span>
            <span *ngIf="colorTable.value == 'sealand'">
              <img src="assets/GMT_sealand.png">
            </span>
            <span *ngIf="colorTable.value == 'gebco'">
              <img src="assets/GMT_gebco.png">
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let colorTable of colorTables" [value]="colorTable.value">
            <img src="assets/{{colorTable.viewValue}}">
          </mat-option>
      
        </mat-select>
        <mat-hint>select a color table for the map</mat-hint>
      </mat-form-field>

  </mat-expansion-panel>
</mat-accordion>
</div>