<autogrid-header [title]="title"></autogrid-header>

<app-esri-map (aoi)="aoiHandler($event)" (drawingActive)="drawingActiveHandler($event)"></app-esri-map>

<app-aoi [aoi]="aoi"  (setAoiOnMap)="setAoiOnMapHandler($event)" (activateDraw)="activateDrawHandler()" (resetDraw)="resetDraw()" [drawingActive]="drawingActive"></app-aoi>

<mat-grid-list cols="2" rows="2" rowHeight="200px">
    
    <mat-grid-tile rowspan="2">
        <div style="position: absolute; left: 5px; top: 5px;">
            <app-options></app-options>
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
    <mat-form-field style="width: 60%">
        <input matInput [formControl]="emailFormControl"
        placeholder="Email">
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <button mat-raised-button (click)="submitRequest()" >Submit Request</button>
    </mat-grid-tile>
</mat-grid-list>
